<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <header class="container-header">

        <nav class="nav">
            <div class="container-logo">
                <img src="../../utils/trophy.svg" width="30" height="25" alt="">
                <h3 class="logo">Trivia Española</h3>
            </div>
            <ul class="container-ul">
                <li>
                    <img src="../../utils/Home.svg" alt="">
                    <a href="./index.html">Inicio</a>
                </li>
                <li>
                    <img src="../../utils/Grafic.svg" alt="">
                    <a href="./index.html">Puntuaciones</a>
                </li>
                <li>
                    <img src="../../utils/Exclamation.svg" alt="">
                    <a href="./index.html">Acerca de</a>
                </li>
            </ul>
            <div class="container-button">
                <button class="button">Español</button>
            </div>
        </nav>
    </header>
</body>

</html>