body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

.container-header {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border-radius: 17px;

    & .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;


        & .container-logo {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        & .container-ul {
            display: flex;
            flex-direction: row;
            padding: 0;

            & li {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 10px;

                & a {
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 2px 7px;
                    border-radius: 5px;


                }
            }

        }

        & .container-button {
            display: flex;
            align-items: center;
            gap: 10px;

            & .button {
                padding: 10px 20px;
                border-radius: 10px;
                border: gray 1px;

                cursor: pointer;
                border-style: double;
            }
        }

    }
}

@media (max-width: 768px) {
    .container-header {
        & .nav {
            flex-direction: column;
            align-items: center;

            & .container-ul {
                flex-direction: column;
                align-items: center;

                & li {
                    padding: 5px 0;
                }
            }

            & .container-button {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .container-header {

        & .nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
           
            & .container-logo {
                display: none;
            }

            & .container-ul {
                display: flex;
                flex-direction: row;
                gap: 30px;
            }

            & .container-button {
                position: absolute;
                bottom: 1em;
                right: 1em;
            }

        }
    }
}