<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="response.css">
    <title>Response</title>
</head>
<body>
    <!-- TODO: crear alguna fuente de preguntas para ingresar aca js-->
    <form name="francia">
    <h2>Pregunta 1 de 5</h2>
    <p>¿Cual es la capital de francia?</p>
    <label for="Opcion">
        <input type="radio" name="respuesta">
        Berlín
    </label>
    
    <label for="Opcion">
        <input type="radio" name="respuesta">
        Madrid
    </label>
    
    <label for="Opcion">
        <input type="radio" name="respuesta">
        París
    </label>

    <label for="Opcion">
        <input type="radio" name="respuesta">
        Roma
    </label>

    <button type="submit">Siguiente pregunta</button>
    </form>
</body>
</html>