body{
    display: flex;
    align-items: center;     /* Los primeros 4 renglones*/
    justify-content: center;   /*son para centrar la informacion*/
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif; /* Para poner tipo de letra*/
    margin: 0%; 
    background-color: rgb(30, 68, 134);
} 
main{
display: flex;
background-color: white; /*Escoger color*/
/*border: 2px solid black;*/  /*Para poner un borde sencillo*/
align-items: center;
justify-content: center;
border-radius: 15px; /*Para colocar un borde mas cilindricp*/
padding: 30px 20px; /*Poner un tamaño al espacion*/
text-align: center; /*Alinear el texto*/ 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Para hacer un borde con sombra*/
max-width: 400px; /*Para poner un tamaño de ancho*/ 
}

.emoji {
font-size: 60px;  /*Para poner tamaño especifico*/
margin-bottom: 10px;  /*Para poner un espacio especifico*/
}

.message {
  margin: 15px;
}

.button {
  color: white;
  border: none;
  padding: 12px 20px; /*Para poner un tamaño especifico*/
  border-radius: 8px;
  cursor: pointer;
  font-size: 15PX;
  background-color: #448c34;
  } 

.button:hover {
  color: white;
  background-color: black;
}
