<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Project_1-1/css/style.css" />
    <title>RESULTADOS</title>
  </head>
  <body>
    <header class="container-header">
      <nav class="nav">
        <div class="container-logo">
          <img src="../../utils/Home.svg" width="30" height="25" alt="" />
          <h3 class="logo">Trivia Española</h3>
        </div>
        <ul class="container-ul">
          <li>
            <img src="../../utils/Home.svg" alt="" />
            <a href="./index.html">Inicio</a>
          </li>
          <li>
            <img src="../../utils/trophy.svg" alt="" />
            <a href="./index.html">Puntuaciones</a>
          </li>
          <li>
            <img src="../../utils/Exclamation.svg" alt="" />
            <a href="./index.html">Acerca de</a>
          </li>
        </ul>
        <div class="container-button">
          <button class="button">Español</button>
        </div>
      </nav>
    </header>
    <main>
      <div class="main-content">
        <h1>Bienvenido al Desafio de Trivia!</h1>
        <p>Por favor, ingresa tu nombre para comenzar</p>
        <div class="inputNombre">
          <h3 class="elh3">Tu nombre</h3>
          <input
            type="text"
            class="textNombre"
            placeholder="Ingresa tu nombre"
          />
          <button type="button" class="botonComenzar">Comenzar Trivia</button>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <section class="footer-information">
          <div class="logo-title">
            <img
              class="footer-icon"
              src="../../utils/trophy.svg"
              alt="Icono copa de futbol"
            />
            <h2>Trivia Española</h2>
          </div>
          <p>
            La mejor plataforma de preguntas<br />
            y respuestas para poner a prueba<br />
            tus cocnocimientos<br />
          </p>
        </section>
        <nav class="footer-categories">
          <h3>Enlaces</h3>
          <ul class="footer-categories-list">
            <li>Inicio</li>
            <li>Puntuaciones</li>
            <li>Acerca de</li>
          </ul>
        </nav>
        <nav class="footer-categories">
          <h3>Categorías</h3>
          <ul class="footer-categories-list">
            <li>Historia</li>
            <li>Ciencia</li>
            <li>Deportes</li>
            <li>Entretenimiento</li>
          </ul>
        </nav>
        <section class="footer-social">
          <h3>Siguenos</h3>
          <span><img src="../../utils/faceIcon.png" alt="Facebook" /></span>
          <span><img src="../../utils/github.png" alt="Github" /></span>
          <span><img src="../../utils/x.png" alt="X" /></span>
          <p>
            <small
              >&copy; 2025 Trivia Española. Todos los derechos
              reservados.</small
            >
          </p>
        </section>
      </div>
    </footer>
  </body>
</html>
